<html>

<head>

<h1 align="left">BestBay</h1>
</head>

<body bgcolor='#26C9C9' align="center">
     <%= link_to "Sign up", new_user_registration_path %> or
                <%= link_to "Sign in", new_user_session_path %>
                 <%= link_to "Registration", :controller => "account", :action => "registration" %>

<ul id="nav">
<li><a href="#">About Us</a>
	<ul>
		<li><a href="#">Who we are</a>
			<ul>
				<li><a href="#">something</a></li>
				<li><a href="#">something</a></li>
				<li><a href="#">something</a></li>
				<li><a href="#">something</a></li>
				<li><a href="#">something</a></li>
			</ul>
		</li>
		<li><a href="#">All categories</a>

            <ul>
				<li><a href="#">TV</a></li>
				<li><a href="#">Video</a></li>
				<li><a href="#">android</a></li>
				<li><a href="#">something</a></li>
				<li><a href="#">something</a></li>
			</ul>       </li>
		<li><a href="#">names</a></li>
		<li><a href="#">cmu</a></li>
	</ul>
</li>

<li><a href="#">What we do</a>
	<!-- etc. -->
</li>

<!-- etc. -->

</ul>

</body>
</html>